.image-display{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fff;
}
.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.button-container button{
    margin: 0 5px;
    cursor: pointer;
}
.button-container button:disabled{
    cursor: not-allowed;
}