.single-image-container{
    width: 20%;
    height: 150px;
    margin: 15px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.single-image-container:hover img{
    transform: scale(1.07);
}

.single-image-container img{
    width: 100%;
    height: 100%;
    transition: 0.5s all;

}

.single-image-container .image-loader-container{
    position:  absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,1);
    justify-content: center;
    align-items: center;
    display: flex;
}
.single-image-container .image-loader-container .spinner{
    width: 25px;
    height: 25px;
}